@import 'styles/variables.scss';

.product_page {

  &__wrapper{
  width: 100%;
  height: fit-content;
  background-color: $color-off-white;
  padding: 60px 100px 146px;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
  }

  &__loader_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
