.productpage_wrapper {
  width: 100%;
  height: fit-content;
  background-color: #fafafa;
  padding: 60px 100px 146px;
}

.productpage_link {
  text-decoration: none;
  & :hover {
    color: var(--color-light-grey);
    transition: 0.3s ease;
  }
}

.loader_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
