@import 'styles/variables';

.text_clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines-count);
}

.text_view {
  &_title {
    font-size: $font-size-xl;
  }

  &_button {
    font-size: $font-size-md;
  }

  &_p-32 {
    font-size: $font-size-xlg;
  }

  &_p-20 {
    font-size: $font-size-lg;
  }

  &_p-18 {
    font-size: $font-size-md;
  }

  &_p-16 {
    font-size: $font-size-sm;
  }

  &_p-14 {
    font-size: $font-size-xsm;
  }
}

.text_color {
  &_primary {
    color: $color-black;
  }

  &_secondary {
    color: $color-blue-grey;
  }

  &_accent {
    color: $color-accent;
  }
}

.text_weight {
  &_normal {
    font-weight: $font-weight-normal;
  }
  &_medium {
    font-weight: $font-weight-medium;
  }
  &_bold {
    font-weight: $font-weight-bold;
  }
}
