:root {
	--text-primary: #000;
	--text-secondary: #afadb5;
	--text-accent: #518581;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-size-xl: 44px;
  --font-size-xlg: 32px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xsm: 14px;
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.primary {
  color: var(--text-primary);
}

.secondary {
  color: var(--text-secondary);
}

.accent {
  color: var(--text-accent);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.button {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}

.p-32 {
  font-size: var(--font-size-xlg);
}

.p-20 {
  font-size: var(--font-size-lg);
}
.p-18 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
}
.p-16 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
}
.p-14 {
  font-size: var(--font-size-xsm);
  font-weight: var(--font-weight-normal);
}

.normal {
  font-weight: var(--font-weight-normal);
}
.medium {
  font-weight: var(--font-weight-medium);
}
.bold {
  font-weight: var(--font-weight-bold);
}