.cardlist_wrapper{
  margin-top: var(--space-xxxl);
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.cardlist_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--space-xxl);
}

.cardlist_item{
  text-decoration: none;
  color: inherit;
}

.loader_container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}