@import 'styles/variables';

.cardlist{
  &__wrapper{
    margin-top: $space-xxxl;
    display: flex;
    align-items: center;
    gap: $space-xl;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  &__item{
    text-decoration: none;
    color: inherit;
  }
}

.loader_container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
