
:root {
	--loader-bg: #518581;
	--button-primary-bg: #518581;
	--button-primary-text: #fff;
	--button-primary-bg-hover: #86aaa7;
	--button-primary-text-hover: #fff;
	--button-primary-bg-disabled: #d9d9d9;
	--button-primary-text-disabled: #fff;
	--button-primary-bg-active: #487773;
	--button-primary-text-active: #fff;
	--text-primary: #000;
	--text-secondary: #afadb5;
	--text-accent: #518581;
	--input-text: #000;
	--input-bg: #fff;
	--input-placeholder: #afadb5;
	--input-border: #fff;
	--input-bg-focus: #fff;
	--input-border-focus: #518581;
	--input-text-focus: #000;
	--input-bg-disabled: #fff;
	--input-border-disabled: #fff;
	--input-text-disabled: rgba(0, 0, 0, 0.2);
	--checkbox-bg: #fff;
	--checkbox-border: #fff;
	--checkbox-bg-hover: #fff;
	--checkbox-border-hover: #518581;
	--checkbox-bg-disabled: rgba(255, 255, 255, 0.5);
	--checkbox-border-disabled: rgba(255, 255, 255, 0);
	--checkbox-check: #518581;
	--checkbox-check-hover: #518581;
	--checkbox-check-disabled: rgba(0, 0, 0, 0.2);
	--card-image-bg: #d9d9d9;
	--card-bg: #fff;
	--dropdown-options-bg: #fff;
	--brand: #518581;
	--brand-active: #487773;
	--brand-hover: #86aaa7;
  --space-xl: 24px;
  --space-l: 20px;
  --space-m: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;
  --space-none: 0px;
  --border-radius: 0;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-size-xl: 44px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-sm: 16px;
  --font-size-xsm: 14px;
}

.card_container {
  background: var(--button-primary-text);
  width: 380px;
  padding: var(--space-none) var(--space-none) var(--space-xl);
}

.card_container:hover{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: var(--button-primary-text);
  cursor: pointer;
  transition: all 0.6s ease;
}

.card_image {
  display: block;
  background: var(--card-image-bg);
  width: 380px;
  height: auto;
}

.card_content {
  margin-top: var(--space-xl);
  padding: var(--space-none) var(--space-xs);
}

.card_caption {
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xsm);
  line-height: 129%;
  color: var(--text-secondary);
}

.card_title {
  margin-top: var(--space-xxs);
  font-weight: var(--font-weight-medium);
}

.card_description {
  margin-top: var(--space-xxs);
  color: var(--text-secondary);
  line-height: 125%;
}

.card_footer {
  margin-top: var(--font-size-lg);
  display: flex;
  justify-content: space-between;
}

.card_content_slot {
  align-self:center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  line-height: 122%;
  color: var(--text-primary);
  }
