@import 'styles/variables';

.container {
  display: flex;
  width: 100%;
  padding: 24px 100px;
  align-items:center;
  justify-content: space-between;
  background-color: $color-white;
  border-bottom: 2px solid $color-white-light-grey;
}

.account {
  display: flex;
  gap: $space-xl;
}