.container {
  display: flex;
  width: 100%;
  padding: 24px 100px;
  align-items:center;
  justify-content: space-between;
  background-color: var(--color-white);
  border-bottom: 2px solid #f3f3f3;
}

.account {
  display: flex;
  gap: var(--space-xl);
}