.currentcard_wrapper{
  margin-top: var(--space-xxl);
}

.currentcard_container {
  display: flex;
  width: 100%;
  gap: var(--space-xxxl);
}

.currentcard_header{
  position: relative;
  min-width: 600px;
  height: 600px;
  overflow: hidden;
}

.currentcard_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-light-grey);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  border-radius: 50%;
  height: 64px;
  background-color: black;
  cursor: pointer;
  &_left{
    left: var(--space-xl);
  }
  &_right{
    right: var(--space-xl);
  }
  svg {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
  }

  &:hover {
    opacity: 0.5;
    transition: 0.3s ease;
  }
}

.currentcard_content {
  margin: var(--space-none);
  padding: var(--space-none);
}

.currentcard_caption {
  line-height: 129%;
}

.currentcard_title {
  margin-top: var(--space-none);
}

.currentcard_description {
  margin-top: var(--space-xl);
  line-height: 125%;
}

.currentcard_footer {
  margin-top: 80px;
}

.currentcard_actions{
  margin-top: var(--space-xxxl);
  width: 338px;
  display: flex;
  justify-content: space-between;
}
