@import 'styles/variables.scss';

.icon {
  display: inline-block;
  flex-shrink: 0;
  color: currentColor;

  &_color_primary {
    color: var(--color-black);
  }

  &_color_secondary {
    color: var(--color-blue-grey);
  }

  &_color_accent {
    color: var(--color-accent);
  }
}
