@import 'styles/variables.scss';

.not_found_page {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 140px;
  align-items: center;

  &__text {
    display: block;
    margin-bottom: 24px;
    font-size: 3em;
  }

  &__title {
    font-size: 3em;
  }

  &__footer {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  }

  &__link {
    text-decoration: none;
    color: $color-accent;
    &:hover {
      color: $color-blue-grey;
      transition: color 0.3s ease;
    }
  }
}